/* Body */
body{
    text-align: center;
}
body h1{
    font-size: 54px;
    color: red;
}
body h2{
    font-size: 35px;
    color: black;
}
body h4{
    font-size: 20px;
}
body p{
    font-size: 20px;
}

/* Dob_Encabezado */
.Dob_Encabezado {
    width: 100%;
    height: auto;
    background-color: #e9e8e9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Dob_Encabezado table{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.Dob_Encabezado table td{
    width: 25%;
}
.Dob_Encabezado td button{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.Dob_Encabezado td button:hover{
    background-color: white;
    border-radius: 25px;
}

/* Dob_Caracteristicas */
.Dob_Caracteristicas{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: justify;
}
.Dob_Caracteristicas table{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.Dob_Caracteristicas table td{
    width: 50%;
    height: auto;
    margin-right: 100px;
    background-color: white;
}
.Dob_Caracteristicas table td:hover{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    transform: scale(1.2);
}
.Dob_Caracteristicas .Img_Dob_Caracteristicas:hover{
    transform: none;
    border-top: 0;
    border-bottom: 0;
    background-color: white;
}
.Dob_Caracteristicas table td img{
    width: 100%;
    height: auto;
}
.Dob_Caracteristicas .negritas{
    font-weight: bold;
    font-size: 40px;
}

/* Dob_Parrafo_1 */
.Dob_Parrafo_1 p{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Dob_Tipos_Dobladoras */
.Dob_Tipos_Dobladoras{
    background-color: #e9e8e9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Dob_Tipos_Dobladoras table{
    width: 100%;
    margin: 0 auto;
}
.Dob_Tipos_Dobladoras table td{
    width: 33%;
}
.Dob_Tipos_Dobladoras table img{
    width: 70%;
    height: auto;
    border: 5px solid black;
    border-radius: 15px;
}

.Dob_DVA{
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.Dob_DVA img{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.Dob_DVA .Dob_Texto_Sobrepuesto{
    position: absolute;
    text-align: center;
}
.Dob_DVA .Dob_Texto_Sobrepuesto .Dob_Fondo_Texto{
    width: 200px;
    height: auto;
    background-color: rgba(233, 232, 233, 0.5);
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
}

/* Dob_Accesorios */
.Dob_Accesorios{
    background-color: #e9e8e9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Dob_Accesorios table{
    width: 100%;
    margin: 0 auto;
}
.Dob_Accesorios table td{
    width: 33%;
}
.Dob_Accesorios table img{
    width: 70%;
    height: auto;
    border: 5px solid black;
    border-radius: 15px;
}


/* Dob_Video */
.Dob_Video{
    padding-bottom: 40px;
}

/* Pie_De_Pagina */
.Pie_De_Pagina{
    width: 100%;
    height: auto;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #e9e8e9;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina{
    text-align: center;
    width: 60%;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina h1{
    font-size: 50px;
    color: red;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina button{
    background-color: #e9e8e9;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 21px;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina button:hover{
    background-color: black;
    color: white;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina{
    width: 30%;
    height: auto;
    border-collapse: collapse;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina button{
    width: 80%;
    height: auto;
    border: 0px;
    margin-right: 20%;
    background-color: transparent;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina img{
    width: 100%;
    height: auto;
}