/* Body */
body{
    text-align: center;
}
body h1{
    font-size: 54px;
    color: red;
}
body h2{
    font-size: 35px;
    color: black;
}
body h4{
    font-size: 18px;

}
body p{
    font-size: 18px;
}

/* Dob_Encabezado */
.Dob_Encabezado {
    width: 100%;
    height: auto;
    background-color: #e9e8e9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Dob_Encabezado table{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.Dob_Encabezado table td{
    width: 25%;
}
.Dob_Encabezado td button{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.Dob_Encabezado td button:hover{
    background-color: white;
    border-radius: 25px;
}
.Dob_Parrafo_1 p{
    width: 50%;
    margin: 0 auto;
}

.Dob_Tipos_Dobladoras{
    background-color: #e9e8e9;
}

.Dob_Accesorios{
    background-color: #e9e8e9;
}

.Dob_Video{
    padding-bottom: 40px;
}

/* Pie_De_Pagina */
.Pie_De_Pagina{
    width: 100%;
    height: auto;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #e9e8e9;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina{
    text-align: center;
    width: 60%;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina h1{
    font-size: 50px;
    color: red;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina button{
    background-color: #e9e8e9;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 21px;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina button:hover{
    background-color: black;
    color: white;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina{
    width: 30%;
    height: auto;
    border-collapse: collapse;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina button{
    width: 80%;
    height: auto;
    border: 0px;
    margin-right: 20%;
    background-color: transparent;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina img{
    width: 100%;
    height: auto;
}