.Dob_Titulo {
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.Dob_Parrafo_1 {
    text-align: center;
    padding: 20px;
}
.Dob_Parrafo_1 h1{
    font-size: 20px;
}
.Dob_Parrafo_1 p{
    font-size: 15px;
}