
/* Pie_De_Pagina */
.Pie_De_Pagina{
    width: 100%;
    height: auto;
    background-color: #e9e8e9;
    padding-top: 20px;
    padding-bottom: 40px;
}
.Pie_De_Pagina table{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.Pie_De_Pagina table .Celda_Empresa_Pie_De_Pagina{
    text-align: center;
    width: 50%;
}
.Pie_De_Pagina table .Celda_Empresa_Pie_De_Pagina h1{
    font-size: 50px;
    color: red;
}
.Pie_De_Pagina table .Celda_Empresa_Pie_De_Pagina p{
    font-size: 17px;
    font-family: 'Montserrat';
}
.Pie_De_Pagina table .Celda_Empresa_Pie_De_Pagina button{
    background-color: black;
    border: 2px solid white;
    color: #e9e8e9;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 21px;
    cursor: pointer;
}
.Pie_De_Pagina table .Celda_Empresa_Pie_De_Pagina button:hover{
    background-color: #e9e8e9;
    color: black;
    cursor: pointer;
}
.Pie_De_Pagina table .Celda_Datos_Pie_De_Pagina{
    font-size: 18px;
    text-align: justify;
    padding-left: 8%;
    font-family: 'Montserrat';
}
.Pie_De_Pagina table .Celda_Datos_Pie_De_Pagina .contact-footer{
    display: flex;
    flex-direction: column;
}
.Pie_De_Pagina table .Celda_Datos_Pie_De_Pagina .btn-contacto{
    font-size: 18px;
    text-align: justify;
    font-family: 'Montserrat';
    background-color: #e9e8e9;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}
.Pie_De_Pagina table .Tabla_Redes_Sociales_Pie_De_Pagina{
    width: 24%;
    height: auto;
    margin: 0;
}
.Pie_De_Pagina table .Tabla_Redes_Sociales_Pie_De_Pagina button{
    width: 100%;
    height: auto;
    border: 0px;
    margin-right: 20%;
    cursor: pointer;
}
.Pie_De_Pagina table .Tabla_Redes_Sociales_Pie_De_Pagina button:hover{
    cursor: pointer;
}
.Pie_De_Pagina table .Tabla_Redes_Sociales_Pie_De_Pagina img{
    width: 100%;
    height: auto;
}
