.Encabezado{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;
    width: 60%;
    text-align: center;
    font-size: 50px;
    color: red;
    border-collapse: collapse;
}

.Encabezado th .btn-Index{
    text-align: center;
    font-size: 50px;
    color: red;
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.Encabezado .btn-Encabezado {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #e9e8e9;
    border-radius: 10px;
    font-family: "boogaloo", serif;
}
.Encabezado .btn-Encabezado:hover {
    color: black;
    background-color: #ffffff;
}