.Encabezado{
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.Encabezado .tabla-Encabezado{
    width: 60%;
    margin: 0 auto;

    text-align: center;
    font-size: 50px;
    color: red;
    border-collapse: collapse;
}
.Encabezado .tabla-Encabezado .btn-index{
    text-align: center;
    font-size: 50px;
    color: red;
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.Encabezado .tabla-Encabezado .btn-Encabezado {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #e9e8e9;
    border-radius: 10px;
    font-family: "boogaloo", serif;
}

.Encabezado .tabla-Encabezado .btn-Encabezado:hover {
    color: black;
    background-color: #ffffff;
}