.Carrusel {
    width: 100%;
    margin: 0 auto;     
    border: 3px solid green;
    position: relative;
    overflow: hidden;
}
.Carrusel .Encabezado_Carrusel{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;
    width: 60%;
    text-align: center;
    border: 3px solid red;
}

.Carrusel .Encabezado_Carrusel .btn_carrusel {
    background-color: #3498db;
}

.Carrusel .Encabezado_Carrusel .btn_carrusel:hover {
    background-color: #ffffff;
}
  
@keyframes Sale_por_derecha {
from {
    transform: translateX(0);
}
to {
    transform: translateX(100%);
}
}

@keyframes Sale_por_izquierda {
from {
    transform: translateX(0);
}
to {
    transform: translateX(-100%);
}
}
  
@keyframes Entra_por_derecha {
from {
    transform: translateX(100%);
}
to {
    transform: translateX(0);
}
}

@keyframes Entra_por_izquierda {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}