.Carrusel {
    width: 100%; /* Ancho del div */
    margin: 0 auto; /* Centra horizontalmente el div */
    border: 3px solid green;
}
.Carrusel .Encabezado_Carrusel{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 3px solid red;
}

.Carrusel .Encabezado_Carrusel .btn_carrusel {
    background-color: #3498db;
}
.Carrusel .Encabezado_Carrusel .btn_carrusel:hover {
    background-color: #ffffff;
}

.Carrusel #Imagen_Carrusel {
    width: 100%; /* Ancho del contenedor */
    height: auto; /* Altura del contenedor */
    overflow: hidden;
}
.Carrusel #Imagen_Carrusel img {
    width: 100%; /* Ancho del contenedor */
    height: auto; /* Altura del contenedor */
    display: block;
}