body{
    text-align: center;
}
body h1{
    font-size: 54px;
    color: black;
    text-align: center;
}
body h2{
    font-size: 40px;
    color: black;
}
body p{
    font-size: 18px;
    font-family: 'Montserrat';
}

/* Producto */
.Producto{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
}
.Producto .Info{
    background-color: #e9e8e9;
    padding-bottom: 60px;
}
.Producto .Info td{
    width: 50%;
}
.Producto .Info img{
    width: 100%;
}
.Producto .Info .Texto{
    padding: 60px;
}

.Producto .pagar{
    padding-top: 40px;
    padding-bottom: 60px;
}
.Producto .pagar button{
    width: 20%;
    height: auto;
    margin: 0 auto;
    background-color: black;

    border-radius: 10px;
    border: 2px solid black;

    font-size: 20px;
    font-family: "boogaloo", serif;
    color: white;

}
.Producto .pagar button:hover {
    background-color: white;
    color: black;
}