/* Body */
body{
    text-align: center;
}
body h1{
    font-size: 54px;
    color: red;
}
body h2{
    font-size: 35px;
    color: black;
}
body h4{
    font-size: 20px;
}
body p{
    font-size: 20px;
}

/* img_encabezado */
.img_encabezado{
    width: 100%;
    background-color: red;
}
.img_encabezado img{
    width:20%;
}
/* Con_Encabezado */
.Con_Encabezado{
    width: 100%;
    height: auto;
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Clientes */
.Clientes{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    margin-top: 5%;
}
.Clientes h1{
    font-size: 50px;
    padding: 0px;
    padding-left: 11%;
    text-align: justify;
    color: black;
}
.Clientes table{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.Clientes table .clientes_Price_Shoes_td{
    width: 50%;
    height: auto;
    padding-right: 5%;
    text-align: right;
}
.Clientes table td img{
    width: 70%;
}
.Clientes table .clientes_Cree_td{
    padding-left: 5%;
}
.Clientes table .clientes_Cree_td img{
    width: 50%;
}


/* Con_Datos */
.Con_Datos{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;   
}
.Con_Datos table{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: justify;
}
.Con_Datos table td{
    width: 20%;
}
.Con_Datos table .Input_Con_Datos{
    width: 80%;
}
.Con_Datos table .Input_Con_Datos input, .Con_Datos table .Input_Con_Datos textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.Con_Datos table .Input_Con_Datos textarea{
    resize: vertical;
    min-height: 50px;
}
.Con_Datos table .Td_Btn_Tabla_Con_Datos{
    width: 100%;
    height: auto;
    text-align: center;
}
.Con_Datos table button{
    width: 30%;
    height: auto;
    margin-top: 20px;
    background-color: black;

    border-radius: 10px;
    border: 2px solid black;

    font-size: 20px;
    font-family: "boogaloo", serif;
    color: white;

    padding: 10px 20px;
    cursor: pointer;
}
.Con_Datos table button:hover{
    background-color: white;
    color: black;
}
