/* Body */
body{
    text-align: center;
}
body h1{
    font-size: 54px;
    color: red;
}
body h2{
    font-size: 40px;
}
body h3{
    font-size: 30px;
}
body h4{
    font-size: 20px;
}
body p{
    font-size: 18px;
    font-family: 'Montserrat';
}

/* Carrusel */
.Carrusel {
    width: 100%;
    margin: 0 auto;     
    position: relative;
    overflow: hidden;
}
.Carrusel .Container_img_Carrusel{
    width: 200%;
}
.Carrusel .Tabla_Img_Carrusel{
    width: 100%;
}
.Carrusel .Tabla_Img_Carrusel td {
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: top;
    position: relative;
}
.Carrusel .Tabla_Img_Carrusel img {
    width: 100%;
    height: auto;
    display: block;
}
.Transicion {
    transition: transform 0.5s ease-in-out;
}

/* Hor_Encabezado */
.Hor_Encabezado{
    width: 100%;
    height: auto;
    background-color: #e9e8e9;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Hor_Tipos_Hornos */
.Hor_Tipos_Hornos{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
.Hor_Tipos_Hornos table{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.Hor_Tipos_Hornos table td{
    width: 26.5%;
    height: auto;
    position: relative;
    padding: 10px;
}
.Hor_Tipos_Hornos table td img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 15px;
    object-fit: cover;
    display: block;
}
.Hor_Tipos_Hornos table td .Hor_Texto_Sobrepuesto{
    position: absolute;
    top: 75%;
    left: 20%;
    z-index: 1;
}
.Hor_Tipos_Hornos table td .Hor_Texto_Sobrepuesto_2{
    position: absolute;
    top: 75%;
    left: 30%;
    z-index: 1;
}
.Hor_Tipos_Hornos table td .Hor_Fondo_Texto{
    width: 100%;
    height: auto;
    background-color: rgba(233, 232, 233, 0.7);
    font-size: 200%;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
}
.Hor_Tipos_Hornos table td .Hor_Texto_Sobrepuesto_3{
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 1;
}
.Hor_Tipos_Hornos table td .Hor_Fondo_Texto_2{
    width: 80%;
    height: auto;
    background-color: rgba(233, 232, 233, 0.7);
    font-size: 200%;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
}
.Hor_Tipos_Hornos table .Hor_Tipos_Hornos_Td_Central{
    width: 47%;
}
.Hor_Tipos_Hornos table .Hor_Tipos_Hornos_Td_Central img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.Hor_Tipos_Hornos table .Hor_Tipos_Hornos_Td_Central .Hor_Sobrepuesto__Central_1{
    position: absolute;
    top: 5%;
    left: 30%;
    z-index: 1;
}
.Hor_Tipos_Hornos table .Hor_Tipos_Hornos_Td_Central .Hor_Sobrepuesto__Central_2{
    position: absolute;
    top: 15%;
    left: 25%;
    z-index: 1;
}
.Hor_Tipos_Hornos table .Hor_Tipos_Hornos_Td_Central .Hor_Sobrepuesto__Central_1 .Hor_Fondo_Texto__Central_1, .Hor_Tipos_Hornos table .Hor_Tipos_Hornos_Td_Central .Hor_Sobrepuesto__Central_2 .Hor_Fondo_Texto__Central_2{
    width: 100%;
    height: auto;
    color: #e9e8e9;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 200%;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
}
/* Hor_Horno_infrarrojo */
.Hor_Horno_infrarrojo{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #e9e8e9;
}
.Hor_Horno_infrarrojo table{
    width: 100%;
}
.Hor_Horno_infrarrojo table td{
    width: 50%;
}
.Hor_Horno_infrarrojo table td p{
    margin: 5%;
}
.Hor_Horno_infrarrojo table td img{
    width: 100%;
    border-radius: 15px;
}
.Hor_Horno_infrarrojo table td button{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: black;

    border-radius: 10px;
    border: 2px solid black;

    font-size: 20px;
    font-family: "boogaloo", serif;
    color: white;

    padding: 10px 20px;
}
.Hor_Horno_infrarrojo table td button:hover{
    background-color: white;
    color: black;
}


/* Hor_Cabina */
.Hor_Cabina{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
.Hor_Cabina table{
    width: 100%;
    padding-bottom: 60px;
}
.Hor_Cabina table td{
    width: 50%;
}
.Hor_Cabina table td p{
    margin: 5%;
}
.Hor_Cabina table td img{
    width: 100%;
    border-radius: 15px;
}
.Hor_Cabina table td button{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: black;

    border-radius: 10px;
    border: 2px solid black;

    font-size: 20px;
    font-family: "boogaloo", serif;
    color: white;

    padding: 10px 20px;
}
.Hor_Cabina table td button:hover{
    background-color: white;
    color: black;
}

/* Hor_Pintura */
.Hor_Pintura{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #e9e8e9;
}
.Hor_Pintura table{
    width: 100%;
    padding-bottom: 60px;
}
.Hor_Pintura table td{
    width: 50%;
}
.Hor_Pintura table td p{
    margin: 5%;
}
.Hor_Pintura table td img{
    width: 100%;
    border-radius: 15px;
}
.Hor_Pintura table td button{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: black;

    border-radius: 10px;
    border: 2px solid black;

    font-size: 20px;
    font-family: "boogaloo", serif;
    color: white;

    padding: 10px 20px;
}
.Hor_Pintura table td button:hover{
    background-color: white;
    color: black;
}

/* Hor_Caracteristicas */
.Hor_Caracteristicas{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
.Hor_Caracteristicas .Hor_Caracteristicas_Encabezado{
    width: 50%;
    margin: 0 auto;
}
.Hor_Caracteristicas table{
    width: 79%;
    height: auto;
    margin: 0 auto;
}
.Hor_Caracteristicas table td{
    width: 20%;
    height: auto;
}
.Hor_Caracteristicas table .Celda_Especificaciones{
    width: 80%;
    padding-left: 40px;
    text-align: justify;
    vertical-align: top;
}
.Hor_Caracteristicas table td img {
    width: 354px;
    height: 389px;
    border: 5px solid black;
    border-radius: 15px;
    object-fit: cover;
}
.Hor_Caracteristicas table td .Hor_Caracteristicas_Lista_Especificaciones{
    list-style: none;
    padding: 20px;
    font-family: 'Montserrat';
    font-size: 18px;
}
.Hor_Caracteristicas table td .Hor_Caracteristicas_Lista_Especificaciones li::before{
    content: "-";
    margin-right: 0.5em;
}
