/* Body */
body{
    text-align: center;
}
body h1{
    font-size: 54px;
    color: red;
}
body h2{
    font-size: 35px;
    color: black;
}
body h4{
    font-size: 20px;
}
body p{
    font-size: 20px;
}

/* Hor_Encabezado */
.Hor_Encabezado{
    width: 100%;
    height: auto;
    background-color: #e9e8e9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Hor_Encabezado table{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.Hor_Encabezado table td{
    width: 25%;
}
.Hor_Encabezado td button{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.Hor_Encabezado td button:hover{
    background-color: white;
    border-radius: 25px;
}

/* Hor_Tipos_Hornos */
.Hor_Tipos_Hornos{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
.Hor_Tipos_Hornos table{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.Hor_Tipos_Hornos table td{
    width: 27%;
    height: auto;
    padding: 10px;
}
.Hor_Tipos_Hornos table td img{
    width: 312px;
    height: 262px;
    border: 5px solid black;
    border-radius: 15px;
    object-fit: cover;
}
.Hor_Tipos_Hornos table .Hor_Tipos_Hornos_Td_Central img{
    width: 553px;
    height: 558px;
    object-fit: cover;
}

/* Hor_Accesorios */
.Hor_Accesorios{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #e9e8e9;
}
.Hor_Accesorios table{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.Hor_Accesorios table td{
    width: 50%;
    height: auto;
    padding: 20px;
    
}
.Hor_Accesorios table td .Hor_Accesorios_Contenedor{
    position: relative;
    width: 50%; 
    padding-top: 105%;  /* Proporción 1.05:1 */
    overflow: hidden;
    border: 5px solid black;
    border-radius: 15px;
}
.Hor_Accesorios table td .Hor_Accesorios_Contenedor img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hor_Caracteristicas */
.Hor_Caracteristicas{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
.Hor_Caracteristicas table{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.Hor_Caracteristicas table td{
    width: 50%;
    height: auto;
}
.Hor_Caracteristicas table td img {
    width: 354px;
    height: 389px;
    border: 5px solid black;
    border-radius: 15px;
    object-fit: cover;
}
.Hor_Caracteristicas table td .Hor_Caracteristicas_Lista_Especificaciones{
    text-align: justify;
    list-style: none;
    padding: 20px;
    font-size: 15px;
}
.Hor_Caracteristicas table td .Hor_Caracteristicas_Lista_Especificaciones li::before{
    content: "-";
    margin-right: 0.5em;
}

/* Pie_De_Pagina */
.Pie_De_Pagina{
    width: 100%;
    height: auto;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #e9e8e9;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina{
    text-align: center;
    width: 60%;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina h1{
    font-size: 50px;
    color: red;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina button{
    background-color: #e9e8e9;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 21px;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Celda_Empresa_Pie_De_Pagina button:hover{
    background-color: black;
    color: white;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina{
    width: 30%;
    height: auto;
    border-collapse: collapse;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina button{
    width: 80%;
    height: auto;
    border: 0px;
    margin-right: 20%;
    background-color: transparent;
}
.Pie_De_Pagina .Tabla_Pie_De_Pagina .Tabla_Redes_Sociales_Pie_De_Pagina img{
    width: 100%;
    height: auto;
}