body{
    font-family: 'Montserrat';
}

body p{
    font-size: 18px;
}

.Proyectos{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
}

/* Textos Contenido*/
.Proyectos .Contenido{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 5%;
}

/* Imagenes */
.Proyectos .Imagenes{
    width: 80%;
    margin: 0 auto;
}
.Proyectos .Imagenes table{
    width: 100%;
}
.Proyectos .Imagenes table td{
    width: 33%;
}
.Proyectos .Imagenes table td img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Boton Contactanos*/
.Proyectos .Contactanos{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.Proyectos .Contactanos button{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: black;

    border-radius: 10px;
    border: 2px solid black;

    font-size: 30px;
    font-family: "boogaloo", serif;
    color: white;

    padding: 20px 40px;
    cursor: pointer;
}
.Proyectos .Contactanos button:hover{
    background-color: white;
    color: black;
}